* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border-radius: 5px;
    border: solid 0.5px white;
    background-color: blue;
    padding: 5px 10px;
    color: rgb(55, 255, 0);
    margin-left: 10px;
    margin-top: 5px;
}

ul {
    margin: 10px;
}

input {
    margin: 10px;
    border: solid px;
    padding: 4px;
    background-color: aqua;
    border-radius: 2px;
}